img {
    width: 200px;
    height: 200px;
    background-color: dimgray;
}

#login {
    margin-top: 20px;
}

#details-form {
    width: 500px;
    margin: 30px;
}

#add-product-btn {
    margin: 20px;
}

#edit,
#delete {
    margin-top: 10px;
}