img {
    width: 200px;
    height: 200px;
    background-color: dimgray;
}

.form-group {
    margin-top: 15px;
}

#login {
    margin-top: 20px;
}

#details-form {
    width: 500px;
    margin: 30px;
}
